@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<!-- Login Content Start -->
<div class="login-register-wrapper section-padbding">
    <div class="container ">
        <div class="member-area-from-wrap  " style="text-align:center">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login-reg-form-wrap mb-5">
                        <h2>Forget Password!</h2>
                        <form asp-controller="Account" asp-action="ForgotPassword" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="single-input-item">
                                <input asp-for="Email" placeholder="Email" required />
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="forgot my-3 ">
                                <a asp-controller="Account" asp-action="ForgotPassword">Forgot password ?</a>
                            </div>
                       
                            <div class="single-input-item">
                                <button class="btn">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}

