@model Service
@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>
                        Image
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Color
                    </th>

                </tr>

            </thead>
            <tbody>
                <tr class="table-info">
                    <td>
                        <img style="width:100px; height:100px;border-radius:0 !important " src="~/assets/img/icon/@Model.Image" alt="slider" />
                    </td>
                    <td>
                        @Model.Title
                    </td>
                    <td>
                        @Model.Description
                    </td>
                    <td style="width:350px">
                        @Model.Color
                    </td>

                </tr>

            </tbody>
        </table>
    </div>

    <a asp-controller="Service" asp-action="Index" class="btn btn-primary my-3">Back</a>
</div>

