@model Categories
@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-info">
                    <td>
                        @Model.Name
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <a asp-controller="Category" asp-action="Index" class="btn btn-primary my-3">Back</a>
</div>

